<a href="https://colab.research.google.com/github/PrajsPrabs/UpgradBACaseStudy/blob/main/EComm1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the Data

In [134]:
EleData = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ConsumerElectronics.csv")
ProdList = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",header=1,sheet_name="Product List")
Investment = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",header=2,sheet_name="Media Investment")
MonthlyNPS = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",sheet_name="Monthly NPS Score")
SalesCal = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",sheet_name="Special Sale Calendar")
Ont2015=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ONTARIO-2015.xlsx",header=24)
Ont2016=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ONTARIO-2016.xlsx",header=24)

<ipython-input-134-69dde8b565b3>:1: DtypeWarning: Columns (6,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  EleData = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ConsumerElectronics.csv")

In [135]:
##ProdList
ProdList.info()
ProdList=ProdList.rename(columns={"Unnamed: 1":"Equipment"})
ProdList.drop("Unnamed: 0",1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  75 non-null     object
 2   Frequency   75 non-null     int64
 3   Percent     75 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ KB

<ipython-input-135-16c6641230a8>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ProdList.drop("Unnamed: 0",1,inplace=True)

In [136]:
##Investments
Investment.head()
Investment = Investment.drop("Unnamed: 0",1)

<ipython-input-136-ad6f8d046e0d>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  Investment = Investment.drop("Unnamed: 0",1)

In [137]:
Investment.head()

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,2015.0,7.0,17.061775,0.215330,2.533014,7.414270,0.000933,1.327278,0.547254,5.023697,NaN,NaN
1,2015.0,8.0,5.064306,0.006438,1.278074,1.063332,0.000006,0.129244,0.073684,2.513528,NaN,NaN
2,2015.0,9.0,96.254380,3.879504,1.356528,62.787651,0.610292,16.379990,5.038266,6.202149,NaN,NaN
3,2015.0,10.0,170.156297,6.144711,12.622480,84.672532,3.444075,24.371778,6.973711,31.927011,NaN,NaN
4,2015.0,11.0,51.216220,4.220630,1.275469,14.172116,0.168633,19.561574,6.595767,5.222032,NaN,NaN

In [138]:
#SalesCal
SalesCal.head(10)

   Unnamed: 0  Unnamed: 1               Sales Calendar
0         NaN      2015.0               (18-19th July)
1         NaN         NaN                (15-17th Aug)
2         NaN         NaN                (28-30th Aug)
3         NaN         NaN                (15-17th Oct)
4         NaN         NaN                 (7-14th Nov)
5         NaN         NaN   (25th Dec'15 - 3rd Jan'16)
6         NaN      2016.0                  (20-22 Jan)
7         NaN         NaN                    (1-2 Feb)
8         NaN         NaN                  (20-21 Feb)
9         NaN         NaN                  (14-15 Feb)

In [139]:
SalesCal=SalesCal.drop("Unnamed: 0",1)
SalesCal.rename(columns={"Unnamed: 1":"Year"},inplace=True)

<ipython-input-139-3ef3e6c831f7>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  SalesCal=SalesCal.drop("Unnamed: 0",1)

In [140]:
SalesCal.iloc[0:6,0:1]='2015'
SalesCal.iloc[6:11,0:1]='2016'

In [141]:
SalesCal

    Year               Sales Calendar
0   2015               (18-19th July)
1   2015                (15-17th Aug)
2   2015                (28-30th Aug)
3   2015                (15-17th Oct)
4   2015                 (7-14th Nov)
5   2015   (25th Dec'15 - 3rd Jan'16)
6   2016                  (20-22 Jan)
7   2016                    (1-2 Feb)
8   2016                  (20-21 Feb)
9   2016                  (14-15 Feb)
10  2016                    (7-9 Mar)
11   NaN                  (25-27 May)

In [142]:
MonthlyNPS.rename(columns={"Unnamed: 0":"Header"},inplace=True)

# Data Cleaning

In [163]:
EleData.info()

Empty DataFrame
Columns: [fsn_id, order_date, Year, Month, order_id, order_item_id, gmv, units, deliverybdays, deliverycdays, s1_fact.order_payment_type, sla, cust_id, pincode, product_analytic_super_category, product_analytic_category, product_analytic_sub_category, product_analytic_vertical, product_mrp, product_procurement_sla]
Index: []

In [144]:
EleData.info()
# EleData.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 251.6+ MB

In [145]:
# EleData.order_date.describe()
EleData["order_date"]= pd.to_datetime(EleData.order_date).dt.date

In [146]:
EleData.Year.value_counts()
EleData.Month.value_counts()

9     209202
10    207301
12    158151
5     157072
3     153299
2     144084
1     143768
4     134390
11    130203
6     121798
7      89285
8        271
Name: Month, dtype: int64

In [147]:
EleData.order_id=EleData.order_id.astype(int)
EleData.order_item_id=EleData.order_item_id.astype(int)

In [148]:
EleData= EleData.drop_duplicates(subset=["order_id","order_item_id"],keep='first')

In [149]:
EleData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1508710 entries, 0 to 1543996
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1508710 non-null  object
 1   order_date                       1508710 non-null  object
 2   Year                             1508710 non-null  int64
 3   Month                            1508710 non-null  int64
 4   order_id                         1508710 non-null  int64
 5   order_item_id                    1508710 non-null  int64
 6   gmv                              1508710 non-null  object
 7   units                            1508710 non-null  int64
 8   deliverybdays                    1508710 non-null  object
 9   deliverycdays                    1508710 non-null  object
 10  s1_fact.order_payment_type       1508710 non-null  object
 11  sla                              1508710 non-null  int64
 12  cust_id                          1508710 non-null  object
 13  pincode                          1508710 non-null  object
 14  product_analytic_super_category  1508710 non-null  object
 15  product_analytic_category        1508710 non-null  object
 16  product_analytic_sub_category    1508710 non-null  object
 17  product_analytic_vertical        1508710 non-null  object
 18  product_mrp                      1508710 non-null  int64
 19  product_procurement_sla          1508710 non-null  int64
dtypes: int64(8), object(12)
memory usage: 241.7+ MB

In [164]:
EleData[Ele_obj_columns]=EleData[Ele_obj_columns].apply(lambda x : x.astype(str).str.strip())

In [152]:
EleData.units.value_counts()

1     1488142
2       16585
3        2010
4         786
5         669
6         166
10        159
8          63
7          43
9          26
15         12
12         10
20          8
16          6
11          6
18          4
14          3
21          2
17          2
50          2
13          2
29          1
39          1
30          1
34          1
Name: units, dtype: int64

In [166]:
EleData[EleData.gmv==''] ## not useful dropping

EleData=EleData[EleData.gmv!='']
EleData.gmv = EleData.gmv.astype(float)

In [187]:

EleData[EleData.deliverybdays=='\\N']
EleData.deliverybdays.replace('\\N','NA',inplace=True)
EleData.info()
EleData[EleData.deliverycdays=='\\N']
EleData.deliverycdays.replace('\\N','NA',inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1504760 entries, 0 to 1543996
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1504760 non-null  object
 1   order_date                       1504760 non-null  object
 2   Year                             1504760 non-null  int64
 3   Month                            1504760 non-null  int64
 4   order_id                         1504760 non-null  int64
 5   order_item_id                    1504760 non-null  int64
 6   gmv                              1504760 non-null  float64
 7   units                            1504760 non-null  int64
 8   deliverybdays                    1504760 non-null  object
 9   deliverycdays                    1504760 non-null  object
 10  s1_fact.order_payment_type       1504760 non-null  object
 11  sla                              1504760 non-null  int64
 12  cust_id                          1504760 non-null  object
 13  pincode                          1504760 non-null  object
 14  product_analytic_super_category  1504760 non-null  object
 15  product_analytic_category        1504760 non-null  object
 16  product_analytic_sub_category    1504760 non-null  object
 17  product_analytic_vertical        1504760 non-null  object
 18  product_mrp                      1504760 non-null  int64
 19  product_procurement_sla          1504760 non-null  int64
dtypes: float64(1), int64(8), object(11)
memory usage: 241.1+ MB

In [200]:
EleData.deliverybdays.value_counts()[0]/EleData.shape[0]
# --78% values are NA so dropping this column
EleData.deliverycdays.value_counts()[0]/EleData.shape[0]
# --78% values are NA so dropping this column

EleData.drop(["deliverybdays","deliverycdays"],1,inplace=True)

<ipython-input-200-94372c1098ca>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  EleData.drop(["deliverybdays","deliverycdays"],1,inplace=True)

In [192]:
EleData["s1_fact.order_payment_type"].value_counts()
EleData.rename(columns={"s1_fact.order_payment_type":"order_payment_type"},inplace=True)

In [193]:
EleData.order_payment_type.value_counts()

COD        1090984
Prepaid     413776
Name: order_payment_type, dtype: int64

In [206]:
EleData.sla=EleData.sla.astype(int)
EleData[EleData.sla==0].shape

(5582, 18)

In [213]:
EleData.pincode.value_counts()
## Too many groups , plus format isnt correct plus canadas pincode are alphanumeric so dropping it

EleData.drop(["pincode"],1,inplace=True)

<ipython-input-213-729901627f6a>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  EleData.drop(["pincode"],1,inplace=True)

In [219]:
EleData.product_analytic_category.value_counts()

EntertainmentSmall    869382
CameraAccessory       229738
GamingHardware        211181
GameCDDVD              99991
Camera                 94468
Name: product_analytic_category, dtype: int64

In [223]:
EleData.product_analytic_sub_category.value_counts()
# EleData.product_analytic_vertical.value_counts()

Speaker                502857
CameraAccessory        213574
GamingAccessory        184835
TVVideoSmall           131285
HomeAudio              114438
AudioMP3Player         102915
Game                    99906
Camera                  94468
GamingConsole           26346
CameraStorage           16164
AudioAccessory          10300
HomeTheatre              4168
AmplifierReceiver        3419
GameMembershipCards        85
Name: product_analytic_sub_category, dtype: int64

In [225]:
## new subcategory needs to be created
## Camera , Home Audio and Gaming Accessory
EleData_1=EleData[EleData.product_analytic_sub_category.isin(['Camera','HomeAudio','GamingAccessory'])]

In [226]:
EleData_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393741 entries, 1598 to 1542378
Data columns (total 17 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   fsn_id                           393741 non-null  object
 1   order_date                       393741 non-null  object
 2   Year                             393741 non-null  int64
 3   Month                            393741 non-null  int64
 4   order_id                         393741 non-null  int64
 5   order_item_id                    393741 non-null  int64
 6   gmv                              393741 non-null  float64
 7   units                            393741 non-null  int64
 8   order_payment_type               393741 non-null  object
 9   sla                              393741 non-null  int64
 10  cust_id                          393741 non-null  object
 11  product_analytic_super_category  393741 non-null  object
 12  product_analytic_category        393741 non-null  object
 13  product_analytic_sub_category    393741 non-null  object
 14  product_analytic_vertical        393741 non-null  object
 15  product_mrp                      393741 non-null  int64
 16  product_procurement_sla          393741 non-null  int64
dtypes: float64(1), int64(8), object(8)
memory usage: 54.1+ MB

In [229]:
EleData_1.product_analytic_category.value_counts()
EleData_1.product_analytic_super_category.value_counts()
EleData_1.product_analytic_vertical.value_counts()

##dropping supercatergy as its having only 1 valye

HomeAudioSpeaker         79513
GamingHeadset            59535
DSLR                     53994
GamePad                  52752
Point & Shoot            35015
GamingMouse              34667
FMRadio                  25211
GamingAccessoryKit        7607
TVOutCableAccessory       6625
GamingKeyboard            6212
GamingMemoryCard          5934
GamingMousePad            4168
VoiceRecorder             3380
GamingAdapter             3040
JoystickGamingWheel       2669
BoomBox                   2449
Instant Cameras           2403
SportsAndAction           2159
Dock                      1884
HiFiSystem                1387
MotionController          1041
Camcorders                 897
GamingSpeaker              493
DockingStation             355
DJController               186
SoundMixer                  68
CoolingPad                  45
GamingChargingStation       43
SlingBox                     3
GamingGun                    3
KaraokePlayer                2
GameControlMount             1
Name: product_analytic_vertical, dtype: int64

In [233]:
EleData_1.drop(['product_analytic_super_category'],1,inplace=True)

<ipython-input-233-c59d92d27cf4>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  EleData_1.drop(['product_analytic_super_category'],1,inplace=True)
<ipython-input-233-c59d92d27cf4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EleData_1.drop(['product_analytic_super_category'],1,inplace=True)

In [269]:
# vertical1=(EleData_1.product_analytic_vertical.value_counts()<20000)[EleData_1.product_analytic_vertical.value_counts()<20000].index
EleData_1.product_analytic_vertical.value_counts()<20000

HomeAudioSpeaker         False
GamingHeadset            False
DSLR                     False
GamePad                  False
Point & Shoot            False
GamingMouse              False
FMRadio                  False
GamingAccessoryKit        True
TVOutCableAccessory       True
GamingKeyboard            True
GamingMemoryCard          True
GamingMousePad            True
VoiceRecorder             True
GamingAdapter             True
JoystickGamingWheel       True
BoomBox                   True
Instant Cameras           True
SportsAndAction           True
Dock                      True
HiFiSystem                True
MotionController          True
Camcorders                True
GamingSpeaker             True
DockingStation            True
DJController              True
SoundMixer                True
CoolingPad                True
GamingChargingStation     True
SlingBox                  True
GamingGun                 True
KaraokePlayer             True
GameControlMount          True
Name: product_analytic_vertical, dtype: bool

In [281]:
# EleData_1["product_vertical_derived"]=EleData_1["product_analytic_vertical"].apply(lambda x : 'Other' if x.isin(vertical1) else x)
EleData_1["product_analytic_vertical_derived"]=EleData_1.product_analytic_vertical.replace(vertical1,"Others")

<ipython-input-281-80f1048859bc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EleData_1["product_analytic_vertical_derived"]=EleData_1.product_analytic_vertical.replace(vertical1,"Others")

In [282]:
EleData_1.product_analytic_vertical_derived.value_counts()

HomeAudioSpeaker    79513
GamingHeadset       59535
DSLR                53994
Others              53054
GamePad             52752
Point & Shoot       35015
GamingMouse         34667
FMRadio             25211
Name: product_analytic_vertical_derived, dtype: int64

In [286]:
EleData_1.product_mrp.astype(float)

1598        3999.0
1599        3999.0
1600        3999.0
1601        3999.0
1602        3999.0
            ...
1542374    10500.0
1542375    10500.0
1542376    10500.0
1542377    10500.0
1542378    10500.0
Name: product_mrp, Length: 393741, dtype: float64

In [288]:
EleData_1.product_procurement_sla.value_counts()

 2     121960
 3      77833
 1      65347
 5      44314
 4      35122
 0      18418
-1      15732
 7       8606
 6       3184
 14      2144
 15       909
 8        110
 9         60
 10         2
Name: product_procurement_sla, dtype: int64