<a href="https://colab.research.google.com/github/PrajsPrabs/UpgradBACaseStudy/blob/main/EComm1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the Data

In [6]:
EleData = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ConsumerElectronics.csv")
ProdList = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",header=1,sheet_name="Product List")
Investment = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",header=2,sheet_name="Media Investment")
MonthlyNPS = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",sheet_name="Monthly NPS Score")
SalesCal = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/Media data and other information.xlsx",sheet_name="Special Sale Calendar")
Ont2015=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ONTARIO-2015.xlsx",header=24)
Ont2016=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ONTARIO-2016.xlsx",header=24)

<ipython-input-6-69dde8b565b3>:1: DtypeWarning: Columns (6,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  EleData = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ConsumerElectronics.csv")

In [7]:
##ProdList
ProdList.info()
ProdList=ProdList.rename(columns={"Unnamed: 1":"Equipment"})
ProdList.drop("Unnamed: 0",1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  75 non-null     object
 2   Frequency   75 non-null     int64
 3   Percent     75 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ KB

<ipython-input-7-16c6641230a8>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ProdList.drop("Unnamed: 0",1,inplace=True)

In [8]:
##Investments
Investment.head()
Investment = Investment.drop("Unnamed: 0",1)

<ipython-input-8-ad6f8d046e0d>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  Investment = Investment.drop("Unnamed: 0",1)

In [9]:
Investment.head()

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,2015.0,7.0,17.061775,0.215330,2.533014,7.414270,0.000933,1.327278,0.547254,5.023697,NaN,NaN
1,2015.0,8.0,5.064306,0.006438,1.278074,1.063332,0.000006,0.129244,0.073684,2.513528,NaN,NaN
2,2015.0,9.0,96.254380,3.879504,1.356528,62.787651,0.610292,16.379990,5.038266,6.202149,NaN,NaN
3,2015.0,10.0,170.156297,6.144711,12.622480,84.672532,3.444075,24.371778,6.973711,31.927011,NaN,NaN
4,2015.0,11.0,51.216220,4.220630,1.275469,14.172116,0.168633,19.561574,6.595767,5.222032,NaN,NaN

In [10]:
#SalesCal
SalesCal.head(10)

   Unnamed: 0  Unnamed: 1               Sales Calendar
0         NaN      2015.0               (18-19th July)
1         NaN         NaN                (15-17th Aug)
2         NaN         NaN                (28-30th Aug)
3         NaN         NaN                (15-17th Oct)
4         NaN         NaN                 (7-14th Nov)
5         NaN         NaN   (25th Dec'15 - 3rd Jan'16)
6         NaN      2016.0                  (20-22 Jan)
7         NaN         NaN                    (1-2 Feb)
8         NaN         NaN                  (20-21 Feb)
9         NaN         NaN                  (14-15 Feb)

In [11]:
SalesCal=SalesCal.drop("Unnamed: 0",1)
SalesCal.rename(columns={"Unnamed: 1":"Year"},inplace=True)

<ipython-input-11-3ef3e6c831f7>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  SalesCal=SalesCal.drop("Unnamed: 0",1)

In [12]:
SalesCal.iloc[0:6,0:1]='2015'
SalesCal.iloc[6:11,0:1]='2016'

In [13]:
SalesCal

    Year               Sales Calendar
0   2015               (18-19th July)
1   2015                (15-17th Aug)
2   2015                (28-30th Aug)
3   2015                (15-17th Oct)
4   2015                 (7-14th Nov)
5   2015   (25th Dec'15 - 3rd Jan'16)
6   2016                  (20-22 Jan)
7   2016                    (1-2 Feb)
8   2016                  (20-21 Feb)
9   2016                  (14-15 Feb)
10  2016                    (7-9 Mar)
11   NaN                  (25-27 May)

In [14]:
MonthlyNPS.rename(columns={"Unnamed: 0":"Header"},inplace=True)

# Data Cleaning



 Basic data type handling

In [15]:
EleData = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ConsumerElectronics.csv")

<ipython-input-15-de44342a677d>:1: DtypeWarning: Columns (6,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  EleData = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/E-Commerce Capstone Dataset/ConsumerElectronics.csv")

In [16]:
EleData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 251.6+ MB

In [17]:
EleData.info()
# EleData.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 251.6+ MB

In [18]:
# EleData.order_date.describe()
EleData["order_date"]= pd.to_datetime(EleData.order_date).dt.date

In [19]:
EleData.Year.value_counts()
EleData.Month.value_counts()

9     209202
10    207301
12    158151
5     157072
3     153299
2     144084
1     143768
4     134390
11    130203
6     121798
7      89285
8        271
Name: Month, dtype: int64

In [20]:
EleData.order_id=EleData.order_id.astype(int)
EleData.order_item_id=EleData.order_item_id.astype(int)

In [21]:
## removing duplicate order items records
EleData= EleData.drop_duplicates(subset=["order_id","order_item_id"],keep='first')

In [22]:
# EleData.info()
Ele_obj_columns=[]
for i in EleData.columns:
  if EleData[i].dtype=='object':
    Ele_obj_columns.append(i)

In [23]:
## removing duplicates using strip and lower
Ele_obj_columns
EleData[Ele_obj_columns]=EleData[Ele_obj_columns].apply(lambda x : x.astype(str).str.strip())
EleData[Ele_obj_columns]=EleData[Ele_obj_columns].apply(lambda x : x.astype(str).str.lower())

In [24]:
EleData= EleData.drop_duplicates(keep='first')
EleData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1508710 entries, 0 to 1543996
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1508710 non-null  object
 1   order_date                       1508710 non-null  object
 2   Year                             1508710 non-null  int64
 3   Month                            1508710 non-null  int64
 4   order_id                         1508710 non-null  int64
 5   order_item_id                    1508710 non-null  int64
 6   gmv                              1508710 non-null  object
 7   units                            1508710 non-null  int64
 8   deliverybdays                    1508710 non-null  object
 9   deliverycdays                    1508710 non-null  object
 10  s1_fact.order_payment_type       1508710 non-null  object
 11  sla                              1508710 non-null  int64
 12  cust_id                          1508710 non-null  object
 13  pincode                          1508710 non-null  object
 14  product_analytic_super_category  1508710 non-null  object
 15  product_analytic_category        1508710 non-null  object
 16  product_analytic_sub_category    1508710 non-null  object
 17  product_analytic_vertical        1508710 non-null  object
 18  product_mrp                      1508710 non-null  int64
 19  product_procurement_sla          1508710 non-null  int64
dtypes: int64(8), object(12)
memory usage: 241.7+ MB

In [25]:
EleData.units.value_counts()

1     1488142
2       16585
3        2010
4         786
5         669
6         166
10        159
8          63
7          43
9          26
15         12
12         10
20          8
16          6
11          6
18          4
14          3
21          2
17          2
50          2
13          2
29          1
39          1
30          1
34          1
Name: units, dtype: int64

In [26]:
# EleData[EleData.gmv=='']
EleData.loc[EleData.gmv=='',"gmv"]=EleData.units*EleData.product_mrp

In [27]:
EleData[EleData.deliverybdays=='\\N']
EleData.deliverybdays.replace('\\N','NA',inplace=True)
EleData.info()
EleData[EleData.deliverycdays=='\\N']
EleData.deliverycdays.replace('\\N','NA',inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1508710 entries, 0 to 1543996
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1508710 non-null  object
 1   order_date                       1508710 non-null  object
 2   Year                             1508710 non-null  int64
 3   Month                            1508710 non-null  int64
 4   order_id                         1508710 non-null  int64
 5   order_item_id                    1508710 non-null  int64
 6   gmv                              1508710 non-null  object
 7   units                            1508710 non-null  int64
 8   deliverybdays                    1508710 non-null  object
 9   deliverycdays                    1508710 non-null  object
 10  s1_fact.order_payment_type       1508710 non-null  object
 11  sla                              1508710 non-null  int64
 12  cust_id                          1508710 non-null  object
 13  pincode                          1508710 non-null  object
 14  product_analytic_super_category  1508710 non-null  object
 15  product_analytic_category        1508710 non-null  object
 16  product_analytic_sub_category    1508710 non-null  object
 17  product_analytic_vertical        1508710 non-null  object
 18  product_mrp                      1508710 non-null  int64
 19  product_procurement_sla          1508710 non-null  int64
dtypes: int64(8), object(12)
memory usage: 274.0+ MB

In [28]:
EleData.deliverybdays.value_counts()[0]/EleData.shape[0]
# --78% values are NA so dropping this column
EleData.deliverycdays.value_counts()[0]/EleData.shape[0]
# --78% values are NA so dropping this column

EleData.drop(["deliverybdays","deliverycdays"],1,inplace=True)

<ipython-input-28-94372c1098ca>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  EleData.drop(["deliverybdays","deliverycdays"],1,inplace=True)

In [29]:
EleData["s1_fact.order_payment_type"].value_counts()
EleData.rename(columns={"s1_fact.order_payment_type":"order_payment_type"},inplace=True)

In [30]:
EleData.order_payment_type.value_counts()

cod        1090984
prepaid     417726
Name: order_payment_type, dtype: int64

In [31]:
EleData.sla=EleData.sla.astype(int)
EleData[EleData.sla==0].shape

(5585, 18)

In [32]:
EleData.pincode.value_counts()
## Too many groups , plus format isnt correct plus canadas pincode are alphanumeric so dropping it

EleData.drop(["pincode"],1,inplace=True)

<ipython-input-32-729901627f6a>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  EleData.drop(["pincode"],1,inplace=True)

In [33]:
print(EleData.product_analytic_category.value_counts())
print(EleData.product_analytic_sub_category.value_counts())
print(EleData.product_analytic_vertical.value_counts())
##droppning supercategory as its having only 1 value
EleData.drop(['product_analytic_super_category'],1,inplace=True)

entertainmentsmall    871879
cameraaccessory       230278
gaminghardware        211680
gamecddvd             100205
camera                 94668
Name: product_analytic_category, dtype: int64
speaker                504320
cameraaccessory        214084
gamingaccessory        185297
tvvideosmall           131631
homeaudio              114802
audiomp3player         103192
game                   100120
camera                  94668
gamingconsole           26383
camerastorage           16194
audioaccessory          10327
hometheatre              4177
amplifierreceiver        3430
gamemembershipcards        85
Name: product_analytic_sub_category, dtype: int64
laptopspeaker        263718
mobilespeaker        234867
audiomp3player       103192
physicalgame          91879
homeaudiospeaker      79766
                      ...
reflectorumbrella         3
flashshoeadapter          2
karaokeplayer             2
gamecontrolmount          1
teleconverter             1
Name: product_analytic_vertical, Length: 74, dtype: int64

<ipython-input-33-b37bb17a7256>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  EleData.drop(['product_analytic_super_category'],1,inplace=True)

In [34]:
## new subcategory needs to be created
## Camera , Home Audio and Gaming Accessory
EleData_1=EleData[EleData.product_analytic_sub_category.isin(['camera','homeaudio','gamingaccessory'])]

In [35]:
EleData_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394767 entries, 1598 to 1542378
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   fsn_id                         394767 non-null  object
 1   order_date                     394767 non-null  object
 2   Year                           394767 non-null  int64
 3   Month                          394767 non-null  int64
 4   order_id                       394767 non-null  int64
 5   order_item_id                  394767 non-null  int64
 6   gmv                            394767 non-null  object
 7   units                          394767 non-null  int64
 8   order_payment_type             394767 non-null  object
 9   sla                            394767 non-null  int64
 10  cust_id                        394767 non-null  object
 11  product_analytic_category      394767 non-null  object
 12  product_analytic_sub_category  394767 non-null  object
 13  product_analytic_vertical      394767 non-null  object
 14  product_mrp                    394767 non-null  int64
 15  product_procurement_sla        394767 non-null  int64
dtypes: int64(8), object(8)
memory usage: 51.2+ MB

In [36]:
EleData_1.product_analytic_category.value_counts()
EleData_1.product_analytic_vertical.value_counts()

homeaudiospeaker         79766
gamingheadset            59649
dslr                     54087
gamepad                  52884
point & shoot            35116
gamingmouse              34774
fmradio                  25299
gamingaccessorykit        7631
tvoutcableaccessory       6646
gamingkeyboard            6231
gamingmemorycard          5944
gamingmousepad            4192
voicerecorder             3384
gamingadapter             3045
joystickgamingwheel       2671
boombox                   2456
instant cameras           2404
sportsandaction           2161
dock                      1888
hifisystem                1393
motioncontroller          1044
camcorders                 900
gamingspeaker              493
dockingstation             355
djcontroller               188
soundmixer                  68
coolingpad                  45
gamingchargingstation       43
gaminggun                    4
slingbox                     3
karaokeplayer                2
gamecontrolmount             1
Name: product_analytic_vertical, dtype: int64

In [37]:
vertical1=(EleData_1.product_analytic_vertical.value_counts()<20000)[EleData_1.product_analytic_vertical.value_counts()<20000].index
EleData_1.product_analytic_vertical.value_counts()<20000

homeaudiospeaker         False
gamingheadset            False
dslr                     False
gamepad                  False
point & shoot            False
gamingmouse              False
fmradio                  False
gamingaccessorykit        True
tvoutcableaccessory       True
gamingkeyboard            True
gamingmemorycard          True
gamingmousepad            True
voicerecorder             True
gamingadapter             True
joystickgamingwheel       True
boombox                   True
instant cameras           True
sportsandaction           True
dock                      True
hifisystem                True
motioncontroller          True
camcorders                True
gamingspeaker             True
dockingstation            True
djcontroller              True
soundmixer                True
coolingpad                True
gamingchargingstation     True
gaminggun                 True
slingbox                  True
karaokeplayer             True
gamecontrolmount          True
Name: product_analytic_vertical, dtype: bool

In [38]:
EleData_1["product_analytic_vertical_derived"]=EleData_1.product_analytic_vertical.replace(vertical1,"Others")

<ipython-input-38-9b64ecd5eb04>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EleData_1["product_analytic_vertical_derived"]=EleData_1.product_analytic_vertical.replace(vertical1,"Others")

In [39]:
EleData_1.product_analytic_vertical_derived.value_counts()

homeaudiospeaker    79766
gamingheadset       59649
dslr                54087
Others              53192
gamepad             52884
point & shoot       35116
gamingmouse         34774
fmradio             25299
Name: product_analytic_vertical_derived, dtype: int64

In [40]:
EleData_1.product_mrp.astype(float)

1598        3999.0
1599        3999.0
1600        3999.0
1601        3999.0
1602        3999.0
            ...
1542374    10500.0
1542375    10500.0
1542376    10500.0
1542377    10500.0
1542378    10500.0
Name: product_mrp, Length: 394767, dtype: float64

Outlier treatment and Feature Engineering

In [41]:
EleData_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394767 entries, 1598 to 1542378
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   fsn_id                             394767 non-null  object
 1   order_date                         394767 non-null  object
 2   Year                               394767 non-null  int64
 3   Month                              394767 non-null  int64
 4   order_id                           394767 non-null  int64
 5   order_item_id                      394767 non-null  int64
 6   gmv                                394767 non-null  object
 7   units                              394767 non-null  int64
 8   order_payment_type                 394767 non-null  object
 9   sla                                394767 non-null  int64
 10  cust_id                            394767 non-null  object
 11  product_analytic_category          394767 non-null  object
 12  product_analytic_sub_category      394767 non-null  object
 13  product_analytic_vertical          394767 non-null  object
 14  product_mrp                        394767 non-null  int64
 15  product_procurement_sla            394767 non-null  int64
 16  product_analytic_vertical_derived  394767 non-null  object
dtypes: int64(8), object(9)
memory usage: 54.2+ MB

In [42]:
EleData_1.Year=EleData_1.Year.astype(object)
EleData_1.Month=EleData_1.Month.astype(object)

<ipython-input-42-4d925445d5e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EleData_1.Year=EleData_1.Year.astype(object)
<ipython-input-42-4d925445d5e8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EleData_1.Month=EleData_1.Month.astype(object)

In [43]:
## Deleting columns which wont be required
EleData2=EleData_1.drop(['fsn_id','cust_id','product_analytic_vertical','order_id'],1)

<ipython-input-43-70c472b3fa6c>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  EleData2=EleData_1.drop(['fsn_id','cust_id','product_analytic_vertical','order_id'],1)

In [44]:
EleData2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394767 entries, 1598 to 1542378
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_date                         394767 non-null  object
 1   Year                               394767 non-null  object
 2   Month                              394767 non-null  object
 3   order_item_id                      394767 non-null  int64
 4   gmv                                394767 non-null  object
 5   units                              394767 non-null  int64
 6   order_payment_type                 394767 non-null  object
 7   sla                                394767 non-null  int64
 8   product_analytic_category          394767 non-null  object
 9   product_analytic_sub_category      394767 non-null  object
 10  product_mrp                        394767 non-null  int64
 11  product_procurement_sla            394767 non-null  int64
 12  product_analytic_vertical_derived  394767 non-null  object
dtypes: int64(5), object(8)
memory usage: 42.2+ MB

In [45]:
## integer column handling
num=[]
obj=[]
for i in EleData2.columns:
  if EleData2[i].dtype=='int64':
    num.append(i)
  if EleData2[i].dtype=='object':
    obj.append(i)

# num.remove('Year')
# num.remove('Month')
num.remove('order_item_id')

In [46]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar(EleData['Month'],EleData['units'])

In [ ]:
plt.figure(figsize=(9, 9))
# plt.subplot(2,2,/1)
x=1
for i in num:
  plt.subplot(2,2,x)
  plt.title(i)
  plt.bar(EleData['Month'],EleData[i])
  x=x+1